// color variable
$WarnaSecond:#FCA311;
$WarnaPrimary:#14213D;
$WarnaTeks:#303948;
$WarnaBackground:#FAFAFA;
$WarnaTeks2:#59616D;

// adaptation variable
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;